* {
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", monospace;
  ;
}

.padding {
  padding: 0px 80px 90px 80px;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2rem 5rem;
}

.logo {
  color: #0D1321;
  font-weight: 800;
  font-family: none;
}

.download_btn {
  padding: 10px;
  border-radius: 8px;
  letter-spacing: 1px;
  cursor: pointer;
}

.hero {
  background-image: url("assets/Hero-bg.png");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_img {
  margin-bottom: 30px;
}

.hero_main {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero_content {
  border: 1px solid black;
  margin: 5px;
}

.hero_heading {
  font-weight: bolder;
  font-size: 2.5rem;
  letter-spacing: 2px;
  padding: 5px 10px 0px 10px;
}

.hero_paragraph {
  margin-top: 30px;
  color: rgb(87, 88, 88);
  font-weight: 600;
}

.hero_span {
  margin-top: 2px;
}

.hero_btn {
  background-color: #0D1321;
  color: white;
  margin-top: 32px;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.blog_section {
  padding: 90px 80px;
}

.heading {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.head {
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.blog_content {
  margin: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_head {
  padding: 5px;
  margin: 10px 0px 10px 0px;
  letter-spacing: 1px;
}

.card_para {
  padding: 5px;
  margin: 10px 0px 10px 0px;
  letter-spacing: 1px;
}

.card_btn {
  padding: 10px;
  margin: 10px 0px 10px 5px;
  letter-spacing: 1px;
  cursor: pointer;
}

.youtube {
  margin-top: 48px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cards {
  margin: 48px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card_html {
  padding: 40px;
  background-color: rgba(255, 76, 30, 0.2);
}

.title {
  margin: 10px 0px 10px 0px;
}

.link {
  color: #0D1321;
}

.card_css {
  padding: 40px;
  background-color: rgb(135, 194, 194, 0.4);
}

.card_js {
  padding: 40px;
  background-color: rgba(226, 211, 75, 0.4);
}